<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/login-style.css" th:href="@{/css/login-style.css}"
          title="style"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" title="style"/>
    <link rel="stylesheet" type="text/css" href="../static/css/table.css" th:href="@{/css/table.css}" title="style"/>
    <link rel="stylesheet" type="text/css" href="../static/css/from-bootstrap.css" th:href="@{/css/from-bootstrap.css}"
          title="style"/>
    <title>Trades - outcomes & incomes</title>
</head>
<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <!-- class="logo_colour", allows you to change the colour of the text -->
                <h1><a href="index.html">Budżet<span class="logo_colour">domowy</span></a></h1>
                <h2>Wydawaj. Zanotuj. Oszczędzaj!</h2>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                <li><a th:href="@{/}">Strona główna</a></li>
                <li class="selected"><a th:href="@{/trades}">Wydatki</a></li>
                <li><a th:href="@{/charts/}">Wykresy</a></li>
                <li><a href="contact.html">Ustawienia</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Zaloguj się</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj się</a></li>
                <li><a th:href="@{/user/create}">Utwórz konto</a></li>
            </ul>
        </div>
    </div>
    <div id="site_content">
        <div id="content">
            <div class="trades-page">
                <div class="form" style="left: 0px; width: 300px; display: inline-block">
                    <form action="#" th:action="@{/trades}" th:object="${trades}" method="post">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <div>
                            <label for="date">Data transakcji</label>
                            <input type="date" name="date" id="date" th:field="*{date}" required autofocus/>
                        </div>
                        <div>
                            <label for="amount">Kwota</label>
                            <input type="number" name="amount" id="amount" th:field="*{amount}" required/>
                        </div>
                        <div>
                            <label for="description">Opis</label>
                            <input type="text" name="description" th:field="*{description}" id="description"/>
                        </div>
                        <div>
                            <label for="tradesType">Typ transakcji</label>
                            <select name="tradesType" id="tradesType" th:field="*{tradesType}" required>
                                <option value="FOOD">JEDZENIE</option>
                                <option value="CLOTHES">UBRANIA</option>
                                <option value="BILLS">RACHUNKI</option>
                                <option value="ENTERTAINMENT">ROZRYWKA</option>
                                <option value="OTHER">INNE</option>
                            </select>
                        </div>
                        <button type="submit" style="background: #ff0000">Wydatek</button>
                    </form>
                </div>
                <div class="form" style="right: 0px;width: 300px; display: inline-block">
                    <form action="#" th:action="@{/trades}" th:object="${trades}" method="post">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <div>
                            <label for="date">Data transakcji</label>
                            <input type="date" name="date" id="date1" th:field="*{date}" required autofocus/>
                        </div>
                        <div>
                            <label for="amount">Kwota</label>
                            <input type="number" name="amount" id="amount1" th:field="*{amount}" required/>
                        </div>
                        <div>
                            <label for="description">Opis</label>
                            <input type="text" name="description" th:field="*{description}" id="description1"/>
                        </div>
                        <div>
                            <label for="tradesType">Typ transakcji</label>
                            <select name="tradesType" id="tradesType1" th:field="*{tradesType}" required>
                                <option value="INCOMES">PRZYCHÓD</option>
                            </select>
                        </div>
                        <button type="submit">Przychód</button>
                    </form>
                </div>
            </div>
            <table style="display: inline-block">
                <thead>
                <tr>
                    <th>Usuń</th>
                    <th>Kwota</th>
                    <th>Data</th>
                    <th>Rodzaj</th>
                    <th>Opis</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="exp : ${list}">
                    <td align="center">
                        <a th:href="@{/trades/delete(id=${exp.id})}" class="btn btn-danger"
                           style="text-decoration:none;">-</a>
                    </td>
                    <td th:text="${exp.amount}"
                        th:style="${exp.tradesType.toString() == 'INCOMES'} ? 'background: #b0fba3;' : 'background: #ff7575;'">
                        &nbsp;
                    </td>
                    <td th:text="${exp.date}">&nbsp;</td>
                    <td th:text="${exp.tradesType}">&nbsp;</td>
                    <td th:text="${exp.description}">&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <div class="pagination" th:each="i : ${#numbers.sequence(0,list.totalPages-1)}">
                <a th:href="@{/trades(page=${i})}" th:text="${i+1}"></a>
            </div>
        </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
        Copyright &copy; benjiro
    </div>
</div>
</body>
</html>