<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Home Budget</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/login-style.css" th:href="@{/css/login-style.css}"
          title="style"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" title="style"/>
    <link rel="stylesheet" type="text/css" href="../static/css/table.css" th:href="@{/css/table.css}" title="style"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
    <script type="text/javascript" th:src="@{/js/charts.js}"></script>

</head>
<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <!-- class="logo_colour", allows you to change the colour of the text -->
                <h1><a href="index.html">Budżet<span class="logo_colour">domowy</span></a></h1>
                <h2>Wydawaj. Zanotuj. Oszczędzaj!</h2>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                <li><a th:href="@{/}">Strona główna</a></li>
                <li><a th:href="@{/trades}">Wydatki</a></li>
                <li class="selected"><a th:href="@{/charts/}">Wykresy</a></li>
                <li><a href="contact.html">Ustawienia</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Zaloguj się</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj się</a></li>
                <li><a th:href="@{/user/create}">Utwórz konto</a></li>
            </ul>
        </div>
    </div>
    <div id="site_content">
        <div id="content">
            <div id="chart-content">
                <canvas id="mainChart" width="200" height="200"></canvas>
            </div>
            <div id="chart-content2">
                <canvas id="monthChart" width="200" height="200"></canvas>
            </div>
        </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
        Copyright &copy; benjiro
    </div>
</div>
</body>
</html>
