<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Home Budget</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" title="style"/>
</head>
<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <!-- class="logo_colour", allows you to change the colour of the text -->
                <h1><a href="index.html">Budżet<span class="logo_colour">domowy</span></a></h1>
                <h2>Wydawaj. Zanotuj. Oszczędzaj!</h2>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                <li class="selected"><a th:href="@{/}">Strona główna</a></li>
                <li><a th:href="@{/trades}">Wydatki</a></li>
                <li><a th:href="@{/charts/}">Wykresy</a></li>
                <li><a href="contact.html">Ustawienia</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Zaloguj się</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj się</a></li>
                <li><a th:href="@{/user/create}">Utwórz konto</a></li>
            </ul>
        </div>
    </div>
    <div id="site_content">
        <div class="sidebar">
            <!-- insert your sidebar items here -->
            <h3>Latest News</h3>
            <h4>New Website Launched</h4>
            <h5>January 1st, 2010</h5>
            <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br/><a
                    href="#">Read more</a></p>
            <p></p>
            <h4>New Website Launched</h4>
            <h5>January 1st, 2010</h5>
            <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br/><a
                    href="#">Read more</a></p>
            <h3>Useful Links</h3>
            <ul>
                <li><a href="#">link 1</a></li>
                <li><a href="#">link 2</a></li>
                <li><a href="#">link 3</a></li>
                <li><a href="#">link 4</a></li>
            </ul>
            <h3>Search</h3>
            <form method="post" action="#" id="search_form">
                <p>
                    <input class="search" type="text" name="search_field" value="Enter keywords....."/>
                </p>
            </form>
        </div>
        <div id="content">
            <!-- insert the page content here -->
            <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
            <h1>Witaj na stronie!</h1>
            <p>Aplikacja pozwoli Ci na monitorowanie swoich wydatków</p>
        </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
        Copyright &copy; benjiro
    </div>
</div>
</body>
</html>
