<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login-style.css" th:href="@{/css/login-style.css}" title="style"/>
    <script th:src="@{/js/login-js.js}"></script>
</head>
<body>

<div class="login-page">
    <div class="form">
        <form th:action="@{/login}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <div>
                <label for="email">Email address</label>
                <input type="email" name="email" id="email" required autofocus>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div>
                <label for="remember-me">Remember me</label>
                <input type="checkbox" name="remember-me" id="remember-me">
            </div>
            <button type="submit">Sign in</button>
        </form>
    </div>
</div>
</body>
</html>