<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/login-style.css" th:href="@{/css/login-style.css}"
          title="style"/>
    <script src="../static/js/login-js.js"></script>
    <title>Create a new user</title>
</head>
<body>
<nav role="navigation">
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

<h1>Create a new user</h1>
<div class="login-page">
    <div class="form">
        <form action="#" th:action="@{/user/create}" th:object="${form}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            <div>
                <label for="email">Email address</label>
                <input type="email" name="email" id="email" th:field="*{email}" required autofocus/>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" th:field="*{password}" required/>
            </div>
            <div>
                <label for="passwordRepeated">Repeat</label>
                <input type="password" name="passwordRepeated" th:field="*{passwordRepeated}" id="passwordRepeated" required/>
            </div>
            <div>
                <label for="role">Role</label>
                <select name="role" id="role" th:field="*{role}" required>
                    <option value="USER">USER</option>
                    <option value="ADMIN">ADMIN</option>
                </select>
            </div>
            <button type="submit">Save</button>
        </form>
    </div>
</div>
<!--
<@spring.bind "form" />
<#if spring.status.error>
    <ul>
        <#list spring.status.errorMessages as error>
            <li>${error}</li>
        </#list>
    </ul>
</#if>-->

</body>
</html>